.examples__button_white{
    font-family: 'Raleway';
    font-style: normal;
    border: 2px solid black; 
    background: white;
    border-radius: 10000px;
    color: #000000;
    padding: 4px 16px;
    margin:5px;
    text-decoration: none;
    text-align: center;
}
.examples__button_black{
    font-family: 'Raleway';
    font-style: normal;
    padding: 4px 16px;
    gap: 8px;
    background: #181818;
    border-radius: 10000px;
    color: white;
    border: 2px solid black; 
    text-decoration: none;
    text-align: center;
    margin:5px;
}
.qa__only_design__button{
    text-decoration: none;
    color: black;
}