.qa {
    background: #181818;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 120px;
}
.qa__title{
    width: 350px;
    height: 64px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 0;
    margin-top: 120px;
}
.qa__visible-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1160px;
    height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.qa__visible-line a{
    color: #000000;
    text-decoration: none;
}
.qa__invisible-line{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1160px;
    height: 216px;
    display: none;
}
.qa__whole-line {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.qa__visible-line p1{
    margin-left: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
}
.qa__visible-line p2 {
    width: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 24px;
}
.qa__invisible-line p3 {
    margin: 0;
    margin-left: 40px;
    font-family: 'Raleway';
    font-style: normal;
    width: 800px;
}
.qa__invisible-line p4 {
    margin: 0;
    margin-left: 40px;
    font-family: 'Raleway';
    font-style: normal;
    width: 800px;
}
.qa__whole-line-last{
    margin-bottom: 60px;
}