 .header {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
 }
 .header__navigation {
    text-align: center;
    width: 500px;
 }
 .header__logo {
    position: absolute;
    left: 148px;
    top: 42px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: 2px solid black; 
    width: 100px;
    height: 24px;
    text-align: center;
    border-radius: 5px;
 }
 .header__links {
    margin-right: 32px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
 }
 .icon_proger {
    width: 170px;
    height: 170px;
    background: #F1F1F1;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 1122px;
 }
 .icon_proger img{
    position: absolute;
    display: block;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
 }

 .icon_comment {
    width: 64px;
    height: 64px;
    background: #F1F1F1;
    border-radius: 10000px;
    position: absolute;
    top: 362px;
    left: 209px;
 }
 .icon_comment img{
    position: absolute;
    display: block;
    width: 28px;
    height: 24px;
    left: 18px;
    top: 20px;
 }

 .icon_lightning {
    width: 100px;
    height: 100px;
    background: #F1F1F1;
    border-radius: 10000px;
    position: absolute;
    left: 1171px;
    top: 410px;
 }
 .icon_lightning img {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;
    display: block;
 }
 .header__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    width: 804px;
    height: 128px;
    margin: 0;
    margin-top: 120px;
 }
 .header__small_title{
    width: 484px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0px;
    margin-top: 40px;
 }
 .header__buttons {
    font-family: 'Raleway';
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    margin-top: 80px;
}
 .header__button_telegram {
    text-align: center;
    width: 215px;
    height: 56px;
    background: #181818;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    gap: 8px;
    color: white;
    border: 2px solid black; 
}
.header__button_video {
    width: 215px;
    height: 56px;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    gap: 8px;
    border: 2px solid black; 
    background: white;
}
.examples {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 124px;
    justify-content: center; 
}
.examples__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5px
}
.examples__pictures{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 44px;
}
.examples__pictures__doublepic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0px;
    width: 1160px;
}

.about-me {
    position: relative;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.about-me__photo img{
    width: 400px;
    height: 560px;
    border-radius: 24px;
}
.about-me__text{
    width: 500px;
    height: 560px;
    display: flex;
    flex-direction: column;
}
.about-me__text__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}
.about-me__text__content {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.about-me__text__under_content{
    display: flex;
    flex-direction: row;
    width: 389px;
    justify-content: space-between;
}
.about-me__text__under_content_40 {
    height: 88px;
    display: flex;
    flex-direction: column;
}
.about-me__text__under_content_40 p1{
    display: block;
    width: 63px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
.about-me__text__under_content_40 p2{
    width: 87px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
}
.icon_goblet{
    position: absolute;
    right: 73%;
    top: 448px;
    width: 100px;
    height: 100px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.icon_goblet img{
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 34px;
    margin-left: 30px;
}
.services {
    background: #181818;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 120px;
}
.services__title {
    width: 156px;
    height: 64px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 0px;
    margin-top: 120px;
}
.services__types {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 120px;
}

.services__types__cards {
    gap: 8px;
    width: 368px;
    height: 384px;
    background: #FFFFFF;
    border-radius: 16px;
}
.services__types__cards2{
    margin-left: 28px;
    margin-right: 28px;
}
.services__types__cards__text_1{
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: grey;
    margin-top: 40px;
    margin-left: 40px;
    display: block;
}
.services__types__cards__text_2 {
    width: 288px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-left: 40px;
    margin-top: 8px;
}
.services__types__cards__text_3 {
    width: 288px;
    height: 96px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 40px;
    margin-top: 16px;
}
.services__types__cards__text_4 {
    width: 288px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-left: 40px;
    margin-top: 56px;
}
.services__types__cards__line {
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid #181818;
    margin-left: 40px;
    margin-top: 56px;
}
.count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.count__title{
    width: 456px;
    height: 64px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    margin: 0px;
    margin-top: 120px;
}
.count__icon_clock{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 61px;
    top: 252px;
    background: #F1F1F1;
    border-radius: 10000px;
    display: block;
    margin-left: 61px;
}
.count__icon_clock img{
    margin-top: 30px;
    margin-left: 30px;
}
.icon_proger2{
    position: absolute;
    left: 1206px;
    top: 375px;
    width: 170px;
    height: 170px;
    background: #F1F1F1;
    border-radius: 50%;
}
.count__form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 24px;
    gap: 8px;
    width: 448px;
    height: 368px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    margin-top: 80px;
}
.count__form_type_of_work{
    display: block;
    margin-top: 15spx;
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
}
.count__form_type_of_work__title{
    width: 89px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}
.count__form__measure_title {
    width: 221px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: grey;
}
.count__form__checkbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.count__form__checkbox_text {
    display: inline;
    margin-left: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 331px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
}
.count__form__calculation{
    width: 400px;
    height: 56px;
    background: #181818;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.count__result {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 400px;
    height: 384px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
}
.count__result__title{
    display: block;
    width: 330px;
    height: 64px;
    font-family: 'Raleway';
    font-style: normal;
    color: #181818;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    margin: 0px;
    margin-top: 32px;
    margin-left: 24px;
}
.count__result__text{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.count__result__text-title {
    width: 141px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
    margin-left: 24px;
}
.count__result__text-cost {
    width: 161px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    margin-left: 24px;
}
.count__result__communicate {
    background: #181818;
    border-radius: 8px;
    width: 352px;
    height: 56px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 24px;
    margin-top: 40px;
}


.request{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
    position: relative;
}
.request__title{
    display: block;
    width: 380px;
    height: 64px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    margin: 0;
    margin-top: 120px;
}
.request__subtitle{
    width: 391px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-top: 8px;
}
.request__form{
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 552px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    margin-top: 80px;
}
.request__form__name {
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    margin-top: 40px;
    margin-left: 24px;
}
.request__form__mail{
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    margin-top: 24px;
    margin-left: 24px;
}
.request__form__usluga{
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    margin-top: 24px;
    margin-left: 24px;
}
.request__form__comm{
    width: 400px;
    height: 160px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    margin-top: 24px;
    margin-left: 24px;
}
.request__form__send{
    width: 400px; 
    height: 48px;
    margin-left: 24px;
    background: #181818;
    border-radius: 8px; 
    color: #F1F1F1;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.request__comment{
    width: 140px;
    height: 140px;
    background: #F1F1F1;
    border-radius: 10000px;
    position: absolute;
    left: 250px;
    top: 752px;
}
.request__comment img{
    position: absolute;
    width: 56px;
    height: 58px;
    margin-top: 42px;
    margin-left: 42px;
}
.request__lightning{
    left: 111px;
    top: 134px;
}
.request__proger{
    top: 516px;
    left: 1252px;
    width: 170px;
    height: 170px;
    background: #F1F1F1;
    border-radius: 50%;
    position: absolute;
}
.request__proger img{
    position: absolute;
    display: block;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
}
.request__icons{
    width: 24px;
    height: 24px;
    background: #F9F9F9;
    border-radius: 10px;
    position: absolute;
    right: 30%;
}
.request__icon-facebook{
    top: 296px;
}
.request__icon-twitter{
    top: 336px;
}
.request__icon-vk{
    top: 376px;
}
.request__icons p{
    margin: 0%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin-top: 4.8px;
}
@media (max-width: 1400px) {
    .icon_proger2{
        left: 87%;
    }
    .request__proger{
        left: 87%;
    }
    .header__logo {
        left: 10%;
    }
   .icon_lightning {
        left: 81%;
   }
   .icon_proger {
        left: 81%;
        top: 20px;
   }
   .icon_comment {
        left: 14%;
   }
  }
@media (max-width: 1200px) {
   .examples__pictures img {
    width: 100%;
   }
   .examples__pictures__doublepic img {
    width: 50%;
   }
   .icon_goblet {
    display: none;
   }
   .services__types__cards {
    width: 300px;
   }
   .services__types__cards__text_3{
    width: 250px;
   }
   .qa__only_design{
    width: 900px;
   }
   .qa__only_design p1 {
    width: 400px;
   }
   .qa__only_design p2{
    margin-left: 400px;
   }
   .qa__why_tilda {
    width: 900px;
   }
   .qa__why_tilda p1{
    width: 400px;
   }
   .qa__why_tilda p2{
    margin-left: 400px;
   }
   .request__comment {
    left: 5%;
    top: 7000px;
   }
   .request__proger {
    left: 80%;
   }
  }
  
  @media (max-width: 992px) {
   .header__logo {
    display: none;
   }
   .icon_proger {
    display: none;
   }
   .icon_comment {
    display: none;
   }
   .icon_lightning {
    display: none;
   }
   .icon_lightning {
    display: none;
   }
   .count__icon_clock {
    display: none;
   }
   .request__comment {
    display: none;
   }
   .request__proger{
    display: none;
   }
   .header__title {
    margin-top: 80px;
    width: 630px;
    height: 200px;
   }
   .examples__pictures img {
    width: 100%;
   }
   .examples__pictures__doublepic {
    width: 50%;
   }
   .about_me__text__title {
    font-size: 40px;
    margin: 0;
   }
   .about_me__text__content {
    font-size: 14px;
    width: 320px;
   }
    .about_me__text {
        justify-content: space-between;
    }
    .about_me__text__under_content {
        width: 320px;
    }
    .services__types {
        flex-direction: column;
        align-items: center;  
        margin-top: 40px;
    }
    .services__types__cards {
        margin-top: 10px;
    }
    .qa__only_design{
        width: 730px;
       }
    .qa__only_design p1 {
        width: 400px;
       }
    .qa__only_design p2{
        margin-left: 250px;
       }
    .qa__why_tilda {
        width: 730px;
       }
    .qa__why_tilda p1{
        width: 400px;
       }
    .qa__why_tilda p2{
        margin-left: 250px;
       }
    .qa__why_tilda p {
        width: 720px;
       }
  }
  @media (max-width: 768px) {
    .about_me {
        flex-direction: column;
        align-items:center;
    }
    .about_me__text {
        width: 400px;
    }
    .header__title{
        font-size: 54px;
        width: 100%;
    }
    .about_me__text__under_content{
        justify-content: space-around;
        width: 100%;
    }
    .about_me__text__content {
        width: 100%;
        text-align: center;
    }
    .about_me__text__title {
        text-align: center;
    }

    .qa__only_design{
        width: 540px;
       }
    .qa__only_design p1 {
        width: 400px;
       }
    .qa__only_design p2{
        margin-left: 50px;
       }
    .qa__why_tilda {
        width: 540px;
        height: 400px;
       }
    .qa__why_tilda p1{
        width: 400px;
       }
    .qa__why_tilda p2{
        margin-left: 50px;
       }
    .qa__why_tilda p {
        width: 400px;
       }
  }
  @media (max-width: 576px) {
    .header__links{
        font-size: 12px;
        margin-right: 10px;
    }
    .header__navigation {
        width: 100%;
    }
    .header__title {
        margin-top: 40px;
        font-size: 30px;
        font-weight: 300px;
        line-height: 40px;
        height: 150px;
    }
    .header__small_title {
        width: 100%;
        margin: 0px;
    }
    .header__buttons{
        width: 300px;
        justify-content: space-around;
    }
    .header__button_telegram{
        width: 120px;
        height: 40px;
        font-size: 10px;
    }
    .header__button_video{
        width: 120px;
        height: 40px;
        font-size: 10px;
    }
    .examples__buttons{
        font-size: 8px;
    }
    .examples__buttons_white {
        border: 1px solid black;
    }
    .about_me__photo img{
        width: 100%;
        height: 400px;
    }
    .about_me__text{
        width: 100%;
    }
    .count__title {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .count__form{
        width: 100%;
        align-items:center;
    }
    .count__form_type_of_work{
        width: 280px;
        text-align: center;
    }
    .count__form__checkbox_text{
        width: 260px;
    }
    .count__result{
        width: 80%;
        align-items:center;

    }
    .count__result__title{
        font-size: 20px;
        margin: 0px;
        width: 200px;
    }
    .count__result__communicate {
        width: 100%;
        margin-left: 0px;
    }
    .count__result__text-title {
        margin-left: 0px;
    }
    .count__result__text-cost {
        margin-left: 0px;
    }
    .qa__title {
        font-size:40px;
        width: 100%;
        text-align: center;
    }
    .qa__only_design{
        width: 90%;
        height: 80px;
       }
    .qa__only_design p1 {
        width: 200px;
        font-size: 15px;
        line-height: 20px;
        margin-top: 20px;
        margin-left: 10px;
       }
    .qa__only_design p2{
        margin-left: 15px;
       }
    .qa__why_tilda {
        width: 90%;
        height: 600px;
        margin-left: 0;
       }
    .qa__why_tilda p1{
        width: 200px;
        margin-left: 10px;
       }
    .qa__why_tilda p2{
        margin-left: 20px;
       }
    .qa__why_tilda p {
        width: 80%;
        font-size: 15px;
        margin-left: 10px;
       }
    .qa__why_tilda ul li {
        margin-left: 0px;
       }
    .request__title {
        width: 100%;
        font-size: 35px;
        text-align: center;
    }
    .request__subtitle {
        width: 100%;
        text-align: center;
    }
    .request__form {
        width: 100%;
    }
    .request__form__name {
        width: 80%;
    }
    .request__form__mail {
        width: 80%;
    }
    .request__form__usluga {
        width: 80%;
    }
    .request__form__comm{
        width: 80%;
    }
    .request__form__send {
        width: 80%;
    }
  }
  